@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
* {
    background-color: #dfe6e9;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

#navbar{
    position: fixed; 
    display: flex; 
    float: left;
}

.title{
	font-size: 11px;
}
.content{
	padding: 0.4rem;
}

.link{
	font-size: 12px;
}

/* nav */
.collection{
    color: #13c4a5;

}

.collection .collection-item{
    background-color: #dfe6e9;
    border-top: #212121 1px solid;
}
.collection .collection-item:hover{
    color: #212121;
    border-bottom: #212121 1px solid;
}

/* main */

.card-panel{
    background-color: #dfe6e9;
    justify-content: center;
    text-align: center;
}

.card-panel span{
    background-color: #dfe6e9;
    font-size: x-large;
}

.introduction{
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: larger;   
}

.card-panel .introduction li{
    list-style-type: circle;
}

/* upcoming section */
.upcoming-list, .upcoming-list2, .upcoming-list3, .currently-watching{
    margin-top: 20px;
    font-size: larger;

}

.upcoming-content{
    text-align: left;
    margin-top: 20px;
    font-size: larger;
    
}
.upcoming-list .upcoming-content li, .upcoming-list2 .upcoming-content li, .upcoming-list3 .upcoming-content li, .currently-watching .upcoming-content li {
    list-style-type: square;

}
.upcoming-list span::before{
    background: #212121;
}
.upcoming-list span::after{
    content: "2023";
    background-color: #dfe6e9;    
    color: #212121;
}

.upcoming-list span{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.upcoming-list span::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
.upcoming-list span::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: #1E3E64;
    padding: 0 5px;
    background: #dfe6e9;
    transform: translateX(-50%);
}
/* upcoming 2024 */
.upcoming-list2 span::before{
    background: #212121;
}
.upcoming-list2 span::after{
    content: "2024";
    background-color: #dfe6e9;    
    color: #212121;
}

.upcoming-list2 span{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.upcoming-list2 span::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
.upcoming-list2 span::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: #1E3E64;
    padding: 0 5px;
    background: #dfe6e9;
    transform: translateX(-50%);
}

.upcoming-list2 .upcoming-content tr td a img{
    width: 141.6px;
    height: 200px;
    object-fit: cover;
}

/* upcoming Unknown */
.upcoming-list3 span::before{
    background: #212121;
}
.upcoming-list3 span::after{
    content: "Unknown";
    background-color: #dfe6e9;    
    color: #212121;
}

.upcoming-list3 span{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.upcoming-list3 span::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
.upcoming-list3 span::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: #1E3E64;
    padding: 0 5px;
    background: #dfe6e9;
    transform: translateX(-50%);
}
/* currently-watching */
.currently-watching span::before{
    background: #212121;
}
.currently-watching span::after{
    content: "Watching";
    background-color: #dfe6e9;    
    color: #212121;
}

.currently-watching span{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.currently-watching span::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
.currently-watching span::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: #1E3E64;
    padding: 0 5px;
    background: #dfe6e9;
    transform: translateX(-50%);
}

/* currently watching content */
tr ,th , td{
    text-align: center;
    border: 1px solid black;

    /* justify-content: center; */
}

/* My favorite list */
    .favorite span::before{
        background: #212121;
    }
    .favorite span::after{
        content: "List";
        background-color: #dfe6e9;    
        color: #212121;
    }
    
    .favorite span{
        position: relative;
        text-align: center;
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 60px;
        padding-bottom: 20px;
        font-family: 'Ubuntu', sans-serif;
    }
    .favorite span::before{
        content: "";
        position: absolute;
        bottom: 0px;
        left: 50%;
        width: 180px;
        height: 3px;
        background: #111;
        transform: translateX(-50%);
    }
    .favorite span::after{
        position: absolute;
        bottom: -8px;
        left: 50%;
        font-size: 20px;
        color: #1E3E64;
        padding: 0 5px;
        background: #dfe6e9;
        transform: translateX(-50%);
    }

    .favorite table tr td a:hover{
        text-decoration: none;
        color: #13c4a5;
    }

/* License */
    .license span::before{
        background: #212121;
    }
    .license span::after{
        content: "License";
        background-color: #dfe6e9;    
        color: #212121;
    }
    
    .license span{
        position: relative;
        text-align: center;
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 60px;
        padding-bottom: 20px;
        font-family: 'Ubuntu', sans-serif;
    }
    .license span::before{
        content: "";
        position: absolute;
        bottom: 0px;
        left: 50%;
        width: 180px;
        height: 3px;
        background: #111;
        transform: translateX(-50%);
    }
    .license span::after{
        position: absolute;
        bottom: -8px;
        left: 50%;
        font-size: 20px;
        color: #1E3E64;
        padding: 0 5px;
        background: #dfe6e9;
        transform: translateX(-50%);
    }


.anime-title{
    text-align: left;
}

@media screen and (max-width:1178px) {
    #navbar{
        /* display: none; */
        margin: 0 auto;
        justify-content: center;
        position: relative;

    }
}